:root {
  --transition: 0;
}

#container {
  width: 400px;
  height: 240px;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}
#topbar {
  width: 400px;
  height: 64px;
  background-color: #eb0000;
  /* color: #777777; */
  /* box-shadow: 0px 0px 2px 0px #110000; */
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 0.625rem;
  position: relative;
  /* transition: 0.2s; */
}
#topbar img {
  position: absolute;
  /* transition: opacity 0.2s; */
}
#topbar h1 {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
#topbar span {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
}

#star {
  width: 12px;
  height: 12px;
  bottom: 4px;
  left: 2px;
  transform: rotate(30deg);
  z-index: 2;
}
#starGrey {
  width: 12px;
  height: 12px;
  bottom: 4px;
  left: 2px;
  transform: rotate(30deg);
}
#triangle {
  width: 12px;
  height: 12px;
  left: 36%;
  top: 4px;
  transform: rotate(50deg);
  z-index: 2;
}
#triangleGrey {
  width: 12px;
  height: 12px;
  left: 36%;
  top: 4px;
  transform: rotate(50deg);
}
#mag {
  width: 24px;
  height: 24px;
  right: 32px;
  bottom: 18px;
  transform: rotate(45deg);
  z-index: 2;
}
#magGrey {
  width: 24px;
  height: 24px;
  right: 32px;
  bottom: 18px;
  transform: rotate(45deg);
}
#bottom-section-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.off-label {
  margin-right: 1.95rem;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  /* transition: color 0.2s; */
}
.on-label {
  margin-left: 1.95rem;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a3a3a3;
  /* transition: color 0.2s; */
}
.toggle-switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: -0.5rem;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  display: block;
  border-radius: 1rem;
  height: 2rem;
  width: 5rem;
  background-color: #ccc;
  /* -webkit-transition: 0.2s;
  transition: 0.2s; */
}
.slider::before {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  left: 0;
  bottom: -4px;
  background-color: #fff;
  border-radius: 50%;
  transition: var(--transition);
  box-shadow: 0 2px 2px 0px #0000005c;
}
input:checked + .slider {
  background-color: #8cb9f3;
}
input:checked + .slider::before {
  background-color: #1a73e8;
}
input:checked + .slider:before {
  -webkit-transform: translateX(2.5rem);
  -ms-transform: translateX(2.5rem);
  transform: translateX(2.5rem);
}
