.toggle-switch {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  cursor: pointer;
}
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  height: 1rem;
  width: 2rem;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  left: -2px;
  bottom: -2px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 1px 2px 0px #0000005c;
}
input:checked + .slider {
  background-color: #8cb9f3;
}
input:checked + .slider::before {
  background-color: #1a73e8;
}
input:checked + .slider:before {
  -webkit-transform: translateX(1.15rem);
  -ms-transform: translateX(1.15rem);
  transform: translateX(1.15rem);
}
